<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1.6.2/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1.6.2/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
  var reduceID = location.pathname.substr(0, 50);
  const gitalk = new Gitalk({
      clientID: 'c24fca464e472ee4f1e6',
      clientSecret: '5f6b0558dc4487ea4639f8457102a419e47b8e95',
      repo: 'comment',
      owner: 'pengruifei',
      admin: ['pengruifei'],
      id: reduceID,
      distractionFreeMode: false
  });
  gitalk.render('gitalk-container');
</script>